*::before, *::after {
    box-sizing: border-box;
    
}


body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
   
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2em .5em 2em;
    background:white;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

nav h3 {
    font-size: 1.4rem;
    background: -webkit-linear-gradient(0deg, rgba(34,173,195,1) 0%, rgba(45,253,184,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


main {
    max-width: 550px;
    margin: 50px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 7px;
    height: 100vh;
  
    
}

.form--color {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 2em 1em;
    padding-top: 1.7em;
   
}

input, select, button {
     border: 1px solid #D1D5DB;
     cursor: pointer;
    
}

input[type="color"] {
    max-width: 60px;
    height:auto;
    border: none;
    padding: 0;
    background-color: #E5E5E5;
    
}


.select-container {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 312px;
    height: 42px;
    
}

.select-box{
    border: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 100%;
    color: #111827;
    border-radius: 6px;
    outline: none;
    border: 1px solid #D1D5DB;

   
}



.select-container .icon-container {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.icon-container img {
    width: 18px;
    
}

button {
    width: 134px;
    font-size: 12px;
    padding: 10px 0;
    border-radius: 4px;
    background: linear-gradient(0deg, rgba(34,173,195,1) 0%, rgba(45,253,184,1) 100%);;
    color: white;
    font-weight: bold;
    
}

.show--color {
    display: flex;
    background: #edf6f9;
    position: relative;
      
}


.color-container {
    display: flex;
    
}

.color-and-code-container:hover{
    border: 1px solid black;
    cursor: pointer;
   
}

main.dark .color-and-code-container:hover{
     border: 1px solid white;
     cursor: pointer;
}



.color--displayed{
    
    height: 314px;
    width: 110px;
    display: flex;
    flex-direction: column;
    display: inline-block;
    
}



.color-hex {
    height: 46px;
    width: 100%;
    background: white;
    bottom: 0;
    display: flex;
    
}

.color-code {
    width: 110px;
    text-align: center;
}


/* ----------------------Dark/Light theme */

.toggler {
    display: flex;
    align-items: center;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

.toggler--slider {
    width: 25px;
    height: 13px;
    background-color: #2B283A;
    border-radius: 2rem;
    margin-inline: 7px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    box-sizing: content-box;
}

nav.dark .toggler--slider {
    border-color: white;
    background-color: #F5F5F5;
}

.toggler--slider--circle {
    height: 13px;
    width: 13px;
    background-color: white;
    border-radius: 50%;
}

nav.dark .toggler--slider--circle {
    background-color: black;
}

.toggler--light {
    color: #2B283A;
}

nav.dark .toggler--light {
    color: #918E9B;
}

.toggler--dark {
    color: #D5D4D8;
}

nav.dark .toggler-dark {
    color: #FFFFFF;
}

nav.dark .toggler--slider {
    justify-content: flex-end;
}

nav.dark {
    background: #212529;
}

nav.dark h3 {
     background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.container-dark{
    background:#6c757d;
    
}


main.dark {
    background: #343a40;
}

main.dark button{
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

main.dark .color-hex{
    background: #343a40;
    color: white;
}

main.dark .show--color {
    background: #d9d9d9;
}

/* ----------------------media queries----------------- */








